<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>the millenialist.</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js" type="text/javascript"></script>
    <script src="/js/typed.js" type="text/javascript"></script>
    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body>
<div class="container">

  <!-- Page 1 -->

    <div class="homepage-container">

      <div class="datetime"><%= Time.now.strftime("%B %d, %Y") %></div>

      <div id="link-down">
        <a href="#page2" class="scroll">•</a>
      </div>

      <div id="title-tagline-container">
        <div id="blink-title">
          <span id="typed"></span>
          <hr>
        </div>
     <!--    <div id="stag-tagline">
           For the person that has everything they need...<br>
           but still wants more.
        </div> -->
      </div>

      


    

    </div>


  <!-- Page 2 -->

      <div id="page2">
      <div id="photo-containers">

        <div class="one">
          <p class="profile-box1">Alex Samvani</p>
        </div>
        <div class="two">
          <p class="profile-box2">Stephan Holly</p>
        </div>
        <div class="three">
          <p class="profile-box3">MJ Kuok</p>
        </div>
        <div class="four">
          <p class="profile-box4">Max Bennett</p>
        </div>
<!--         <div class="five">
          <p class="profile-box5"> 5 </p>
        </div>
        <div class="six">
          <p class="profile-box6"> 6 </p>
        </div>
        <div class="seven">
          <p class="profile-box7"> 7 </p>
        </div>
        <div class="eight">
          <p class="profile-box8"> 8 </p>
        </div>
        <div class="nine">
          <p class="profile-box9"> 9 </p>
        </div> -->

      </div>
      </div>


</div>
</body>
</html>